@{
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="OpenUBA">
    <meta name="author" content="OpenUBA">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
</html>
<style>

    body {
        background-image: url("/image/background1.jpg");
        background-color: #cccccc;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
</style>
<br /><br /><br />
            <body>
                <center><img src="/image/Top-User-Behavior-Analytics-Tools.png" alt="uba" width="300" height="250"></center>




























            </body>